[commit]
	gpgsign = true

[core]
	editor = nvim

[init]
	defaultbranch = main

[push]
  followTags = true

[pull]
	rebase = false

[user]
	name = Carlo Sala
	email = carlosalag@protonmail.com
	signingkey = 71E76A85CBE2E96904B3CC19DA6FB450C1A4FE9A
