snippet cl "console.log()"
console.log($1)
endsnippet

snippet fn "() => {}"
const $1 = ($2) => {
  $3
}
endsnippet

snippet afn "() => {}" w
${1:($2)} => ${3:\{$4\}}
endsnippet

snippet imp "import x from y"
import $2 from '$1'
endsnippet
