snippet beg "\begin{}"
\begin{$1}
	$2
\end{$1}
endsnippet

snippet enum "\begin{enumerate}"
\begin{enumerate}
	\item $0
\end{enumerate}
endsnippet

snippet item "\begin{itemize}"
\begin{itemize}
	\item $0
\end{itemize}
endsnippet

snippet equa "\begin{equation}"
\begin{equation$1}
	$2
\end{equation$1}
endsnippet

snippet frac "\frac{}{}" w
\frac{$1}{$2}
endsnippet
